<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- Runtimes -->
    <package id="jre8" />
    <package id="dotnetcore-sdk"/>
    <package id="nodejs" />
    <package id="docker-desktop" />

    <!-- General Apps and Tools -->
    <package id="7zip" />
    <package id="googlechrome"/>
    <package id="firefox"/>
    <!-- <package id="em-client"/> Failed every time -->
    <package id="postman"/>
    <package id="vlc"/>
    <package id="vlc-skins"/>

    <!-- Development Apps and Tools -->
    <package id="putty"/>
    <package id="github-desktop"/>
    <!-- <package id="sql-server-management-studio"/> Failing with error 1626 -->
    <package id="mysql.workbench"/>
    <package id="vscode"/>	
</packages>
